html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.navbar-toggler {
  margin: 6px;
}

@media (width < 537px) {
  .navbar-brand {
    display: none;
  }

  .d-flex gap-2 {
    flex-direction: row;
    background-color: #00758F;
  }

  .btn-Buscar {
    margin: 3px;
  }

  .btn-Agregar {
    margin: 3px;
  }
}

@media (width<178px) {
  .btn-Buscar {
    display: none;
  }

  .btn-Agregar {
    display: none;
  }

  .buscasdor {
    display: none;
  }
}

 /* Estilos generales del modal */
 .modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado del modal */
.modal-header {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-header .modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
  font-size: 16px;
}

/* Estilo del perfil dentro del modal */
.perfil {
  text-align: center;
  padding: 20px;
  background-color: #f4f6f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.perfil .perfil-titulo {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.foto-perfil {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.foto-perfil p {
  font-size: 16px;
  line-height: 1.6;
}

.foto-perfil p strong {
  font-weight: bold;
}

/* Estilos del footer del modal */
.modal-footer {
  background-color: #f4f6f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-footer .btn {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: none;
}

/* Eliminar sombra en el botón secundario */
.btn-secondary {
  background-color: #f1f1f1;
  color: #333;
  border-color: #ddd;
}

/* El botón primario mantendrá el azul por defecto de Bootstrap */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
